table {
    border-collapse: collapse;
    width: 30%;
    color: slategrey;
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

th:last-child,
td:last-child {
    border-bottom: 1px solid black;
}

a.buttonOne,
a.buttonTwo {
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 10px;
    width: 360px;
}

.buttons {
    display: flex;
    flex-direction: column;
}